<a href="https://colab.research.google.com/github/JoelWekesa/Data-Analysis/blob/main/Housingprices2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor, VotingRegressor, BaggingRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import r2_score
from google.colab import drive

In [2]:
pd.set_option("display.max_rows", 100)

In [3]:
drive.mount("/content/datasets")

Drive already mounted at /content/datasets; to attempt to forcibly remount, call drive.mount("/content/datasets", force_remount=True).

In [4]:
path = "/content/datasets/MyDrive/datasets/house-prices-advanced-regression-techniques/train.csv"

In [5]:
df = pd.read_csv(path)

In [6]:
df.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [7]:
to_drop = ["Id"]

In [8]:
df = df.drop(columns = to_drop)

In [9]:
lower, upper = df["SalePrice"].quantile([0.001, 0.999])

In [10]:
lower = df["SalePrice"] < lower
upper = df["SalePrice"] > upper

In [11]:
lower = df.loc[lower]
upper = df.loc[upper]

In [12]:
outliers = pd.concat([lower, upper])
outliers

      MSSubClass MSZoning  LotFrontage  ...  SaleType SaleCondition SalePrice
495           30  C (all)         60.0  ...        WD       Abnorml     34900
916           20  C (all)         50.0  ...        WD       Abnorml     35311
691           60       RL        104.0  ...        WD        Normal    755000
1182          60       RL        160.0  ...        WD       Abnorml    745000

[4 rows x 80 columns]

In [13]:
def logger(frame):
  return np.sqrt(frame)

In [14]:
correlations = []
def sqrtskewer(frame):
  for col in frame.columns:
    if frame[col].dtype == "int" or frame[col].dtype == "float":
      if abs(frame["SalePrice"].corr(frame[col])) < 0.6:
        correlations.append(col)
        frame[col] = frame[col].apply(logger)
  return frame

In [15]:
df = sqrtskewer(df)

In [16]:
def removenull(frame):
  for col in frame.columns:
    if frame[col].isna().sum() > 600:
      to_drop.append(col)
      frame = frame.drop(columns = [col])
  return frame

In [17]:
df = removenull(df)

In [18]:
X = df.drop(columns = ["SalePrice"])

In [19]:
y = df["SalePrice"]

In [20]:
def fillnull(frame):
  for col in frame.columns:
    frame[col] = frame[col].fillna(frame[col].value_counts().idxmax())
  return frame

In [21]:
X = fillnull(X)

In [22]:
encoder = LabelEncoder()
scaler = StandardScaler()

In [23]:
def transformer(frame):
  for col in frame.columns:
    if frame[col].dtype != "int" and frame[col].dtype != "float":
      frame[col] = encoder.fit_transform(frame[col])
  return frame

In [24]:
X = transformer(X)

In [25]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [26]:
train_X = scaler.fit_transform(train_X)
test_X = scaler.transform(test_X)

In [27]:
rfc = RandomForestRegressor()

In [28]:
rfc.fit(train_X, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [29]:
rfc_pred = rfc.predict(test_X)

In [30]:
r2_score(test_y, rfc_pred)

0.9059309862433871

In [31]:
boost = GradientBoostingRegressor()

In [32]:
boost.fit(train_X, train_y)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [33]:
boost_pred = boost.predict(test_X)

In [34]:
r2_score(test_y, boost_pred)

0.9152371102798506

In [35]:
bagging = BaggingRegressor()

In [36]:
bagging.fit(train_X, train_y)

BaggingRegressor(base_estimator=None, bootstrap=True, bootstrap_features=False,
                 max_features=1.0, max_samples=1.0, n_estimators=10,
                 n_jobs=None, oob_score=False, random_state=None, verbose=0,
                 warm_start=False)

In [37]:
bagging_pred = bagging.predict(test_X)

In [38]:
r2_score(test_y, bagging_pred)

0.8693494584165726

In [39]:
gnb = GaussianNB()

In [40]:
gnb.fit(train_X, train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [41]:
gnb_pred = gnb.predict(test_X)

In [42]:
r2_score(test_y, gnb_pred)

0.38400977166054695

In [43]:
estimators = [("bag", bagging), ("rfc", rfc), ("boost", boost)]

In [44]:
voting = VotingRegressor(estimators = estimators)

In [45]:
voting.fit(train_X, train_y)

VotingRegressor(estimators=[('bag',
                             BaggingRegressor(base_estimator=None,
                                              bootstrap=True,
                                              bootstrap_features=False,
                                              max_features=1.0, max_samples=1.0,
                                              n_estimators=10, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False)),
                            ('rfc',
                             RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_l...
                                                       loss='ls', max_depth=3,
                                                       max_features=None,
                                                       max_leaf_nodes=None,
                                                       min_impurity_decrease=0.0,
                                                       min_impurity_split=None,
                                                       min_samples_leaf=1,
                                                       min_samples_split=2,
                                                       min_weight_fraction_leaf=0.0,
                                                       n_estimators=100,
                                                       n_iter_no_change=None,
                                                       presort='deprecated',
                                                       random_state=None,
                                                       subsample=1.0,
                                                       tol=0.0001,
                                                       validation_fraction=0.1,
                                                       verbose=0,
                                                       warm_start=False))],
                n_jobs=None, weights=None)

In [46]:
voting_pred = voting.predict(test_X)

In [47]:
r2_score(test_y, voting_pred)

0.9117121713335659

In [48]:
estims = [("bag", bagging), ("rfc", rfc)]

In [49]:
stacking = StackingRegressor(estimators=estims, final_estimator=boost)

In [50]:
stacking.fit(train_X, train_y)

StackingRegressor(cv=None,
                  estimators=[('bag',
                               BaggingRegressor(base_estimator=None,
                                                bootstrap=True,
                                                bootstrap_features=False,
                                                max_features=1.0,
                                                max_samples=1.0,
                                                n_estimators=10, n_jobs=None,
                                                oob_score=False,
                                                random_state=None, verbose=0,
                                                warm_start=False)),
                              ('rfc',
                               RandomForestRegressor(bootstrap=True,
                                                     ccp_alpha=0.0,
                                                     criterion='mse',
                                                     max_depth=None,
                                                     max_features='a...
                                                            max_features=None,
                                                            max_leaf_nodes=None,
                                                            min_impurity_decrease=0.0,
                                                            min_impurity_split=None,
                                                            min_samples_leaf=1,
                                                            min_samples_split=2,
                                                            min_weight_fraction_leaf=0.0,
                                                            n_estimators=100,
                                                            n_iter_no_change=None,
                                                            presort='deprecated',
                                                            random_state=None,
                                                            subsample=1.0,
                                                            tol=0.0001,
                                                            validation_fraction=0.1,
                                                            verbose=0,
                                                            warm_start=False),
                  n_jobs=None, passthrough=False, verbose=0)

In [51]:
stacking_pred = stacking.predict(test_X)

In [52]:
r2_score(test_y, stacking_pred)

0.9280469755723748

In [53]:
test_path = "/content/datasets/MyDrive/datasets/house-prices-advanced-regression-techniques/test.csv"

In [54]:
test_df = pd.read_csv(test_path)

In [55]:
tester = test_df[["Id"]]

In [56]:
test_df = test_df.drop(columns = to_drop)

In [57]:
def testskewer(frame):
  for corr in correlations:
    frame[corr] = frame[corr].apply(logger)
  return frame

In [58]:
test_df = testskewer(test_df)

In [59]:
test_df = fillnull(test_df)

In [60]:
test_df = transformer(test_df)

In [61]:
test_df = scaler.transform(test_df)

In [62]:
predictions = boost.predict(test_df)

In [63]:
tester.insert(1, "SalePrice", predictions)

In [64]:
tester.to_csv("predictions.csv", index=False)