In [2]:
import requests as rqs
import pandas as pd 
import numpy as np
import seaborn as sns
import os
from bs4 import BeautifulSoup as BS

In [3]:
cars = []
prices = []
links = []

In [4]:
base = "https://www.cheki.co.ke/"

In [5]:
for x in range(1, 10):
    source = rqs.get(f"https://www.cheki.co.ke/cars?page={x}").text
    soup = BS(source, "lxml")
    great = soup.find("div", class_="search-results__row")
    grand = great.find("div", class_="second search-results__main")
    father = grand.find("div", class_="tolSearchContainer")

    for child in father.find_all("li"):
        try:
            car = child.find("span", class_="ellipses").text 
            price = child.find("h2", class_="listing-price").text
            tail = child.find("div", class_="card-main").find("a")["href"]
            link = base + tail
        except AttributeError:
            car = np.nan
            price = np.nan
            tail = np.nan
            link = np.nan

        cars.append(car)
        prices.append(price)
        links.append(link)

In [6]:
links = pd.Series(links)
cars = pd.Series(cars)
prices = pd.Series(prices)

In [7]:
df = pd.DataFrame()

In [8]:
df.insert(0, "Car", cars)
df.insert(1, "Price", prices)
df.insert(2, "Link", links)

In [9]:
df = df.dropna().reset_index(drop=True)

In [10]:
df

,Car,Price,Link
0,\n2013\nNissan Note 1.5 dCi\n,"\nKSh600,000\n",https://www.cheki.co.ke//vehicle/nissan-note-1...
1,\n2012\nToyota Land Cruiser Prado\n,"\nKSh3,500,000\n",https://www.cheki.co.ke//vehicle/toyota-land-c...
2,\n2014\nMercedes-Benz E250\n,"\nKSh4,500,000\n",https://www.cheki.co.ke//vehicle/qewgd96
3,\n2015\nLexus LX 570\n,"\nKSh17,200,000\n",https://www.cheki.co.ke//vehicle/qp8eqgp
4,\n2014\nNissan X-Trail 2.0\n,"\nKSh2,250,000\n",https://www.cheki.co.ke//vehicle/qnw6m4g
...,...,...,...
103,\n2012\nToyota Land Cruiser Prado\n,"\nKSh3,500,000\n",https://www.cheki.co.ke//vehicle/toyota-land-c...
104,\n2014\nMercedes-Benz E250\n,"\n KSh4,500,000\n",https://www.cheki.co.ke//vehicle/qewgd96
105,\n2014\nNissan X-Trail\n,"\nKSh2,200,000\n",https://www.cheki.co.ke//vehicle/nissan-x-trai...
106,\n2019\nNissan X-Trail\n,"\nKSh3,969,173\n",https://www.cheki.co.ke//vehicle/nissan-x-trai...
107,\n2014\nSubaru Forester 2.0I-L Eye Sight\n,"\nKSh2,400,000\n",https://www.cheki.co.ke//vehicle/q5gmrg2

In [11]:
def removeline(item):
    item = item.replace("\n", "")
    return item

In [12]:
df["Car"] = df["Car"].apply(removeline) 
df["Price"] = df["Price"].apply(removeline)

In [13]:
df

,Car,Price,Link
0,2013Nissan Note 1.5 dCi,"KSh600,000",https://www.cheki.co.ke//vehicle/nissan-note-1...
1,2012Toyota Land Cruiser Prado,"KSh3,500,000",https://www.cheki.co.ke//vehicle/toyota-land-c...
2,2014Mercedes-Benz E250,"KSh4,500,000",https://www.cheki.co.ke//vehicle/qewgd96
3,2015Lexus LX 570,"KSh17,200,000",https://www.cheki.co.ke//vehicle/qp8eqgp
4,2014Nissan X-Trail 2.0,"KSh2,250,000",https://www.cheki.co.ke//vehicle/qnw6m4g
...,...,...,...
103,2012Toyota Land Cruiser Prado,"KSh3,500,000",https://www.cheki.co.ke//vehicle/toyota-land-c...
104,2014Mercedes-Benz E250,"KSh4,500,000",https://www.cheki.co.ke//vehicle/qewgd96
105,2014Nissan X-Trail,"KSh2,200,000",https://www.cheki.co.ke//vehicle/nissan-x-trai...
106,2019Nissan X-Trail,"KSh3,969,173",https://www.cheki.co.ke//vehicle/nissan-x-trai...
107,2014Subaru Forester 2.0I-L Eye Sight,"KSh2,400,000",https://www.cheki.co.ke//vehicle/q5gmrg2